<div class="red darken-2 white-text center-align" style="padding: 40px;">
    <h3>
        Controladoria
    </h3>

    <h6>Projeto com recursos do Mackpesquisa e vinculado ao Programa de
        Pós-Graduação em Ciências Contábeis da Universidade Presbiteriana Mackenzie</h6>
</div>