<!-- DESKTOP -->
<nav class="indigo darken-3 z-depth-2">
    <div class="nav-wreapper container">
        <a href="/" class=" hide-on-med-and-down">HOME</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <div id="nav-mobile" class="right hide-on-med-and-down">
            {{> nav/menu}}
        </div>
    </div>
</nav>
<!-- DESKTOP -->

<div class="sidenav" id="mobile-demo">
    {{> nav/menu}}
</div>
<!-- mobile -->