<!-- card sobre o projeto -->
<section class="card z-depth-2">
    <!-- title -->
    <div class="card-title center grey darken-3 white-text">
        <b>
            Sobre o projeto
        </b>
    </div><!-- title -->

    <!-- content -->
    <div class="card-content">

        <blockquote>
            <h5>
                Projeto com recursos do Mackpesquisa e vinculado ao Programa de Pós-Graduação em Controladoria e
                Finanças
                Empresariais da Universidade Presbiteriana Mackenzie. colocar no inicio
            </h5>
        </blockquote>

        <blockquote>
            <h5>
                Cada vez mais entender as associações entre remuneração, motivação e desempenho individual se torna
                importante. O objetivo desse ferramenta é fornecer um auto-diagnóstico com recomendações de forma
                simplificada, mas que podem ser úteis para o usuário. Tenha um excelente uso da ferramenta.
            </h5>
        </blockquote>

        <blockquote>
            <h5>
                Líder da Pesquisa: José Carlos Tiomatsu Oyadomari
            </h5>
        </blockquote>

        <blockquote>
            <h5>
                Por favor ao citar esse trabalho cite Oyadomari, J.C.T; Mendonça Neto,
                O.R; Aguiar, A.B.; Oliveira Júnior, Pedro J.; Dultra-de-Lima, Teste de
                Alinhamento de Motivação e Desempenho. São Paulo, Universidade
                Presbiteriana Mackenzie, 2020.
            </h5>
        </blockquote>
    </div><!-- content -->

</section><!-- card sobre o projeto -->

<!-- card Iniciar autodiagnóstico  -->
<section class="card z-depth-2">
    <!-- title -->
    <div class="card-title center grey darken-3 white-text">
        <b>
            Iniciar autodiagnóstico
        </b>
    </div> <!-- title -->

    <!-- content -->
    <div class="card-content">
        <blockquote>
            <h5>
                O autodiagnóstico dura geralmente em torno de dez minutos,
                ao final você receberá um feedback indicando pontos de atenção
                para melhoria dos controles de sua
                organização.
            </h5>
        </blockquote>
        <blockquote class="yellow">
            <h5>
                <strong>Atenção:</strong>
                Leia o termo de confidencialidade antes de iniciar o autodiagnóstico
            </h5>
        </blockquote>
        <br>
        <a class="btn-large red darken-2" href="/termo">Ler termo</a>
    </div><!-- content -->

    <div class="card-action center z-depth-2">
        <!-- collapse -->
        <ul class="collapsible">
            <li>
                <div class="collapsible-header red darken-3">
                    <h5 class="text-white">
                        Clique aqui se leu o termo e quer iniciar a pesquisa
                    </h5>
                </div>
                <div class="collapsible-body">
                    <a href="/questionario" class="btn red darken-3">
                        <i class="material-icons">assignment</i>
                        Começar Questionário
                    </a>
                </div>
            </li>
        </ul><!-- collapse -->
    </div>
</section><!-- card Iniciar autodiagnóstico  -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    });
</script>