{{> nav}}

<div class="container ">

    <section class="section lighten-3 center">
        <h4>Professores</h4>
    </section>

    <!-- section alerta -->
    <section>
        <blockquote class=" section yellow">
            <h5><b>Atenção:</b> Clique no professor caso haja modificações</h5>
        </blockquote>
    </section><!-- section alerta -->

    <section class="right-align">
        <a id="new-professor" class="btn indigo darken-3" data-toggle="container-professor">Cadastrar
            novo professor</a>
    </section>

    <!-- section professor -->
    <section class="section">
        <div class="card z-depth-2">
            <div class="card-title center grey darken-3 white-text">Professores</div>
            <div class="card-content">
                <table class="striped" id="table-professor">
                    <thead>
                        <tr>
                            <th>Professor</th>
                            <th>E-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Leandro</td>
                            <td>Leandro Alves Alexandre</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section><!-- section professor -->

    <!-- section adm professor -->
    <section class="section" id="container-professor">
        <div class="card">
            <div class="card-content">
                <div class="row">
                    <form action="" id="form-professor" class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="nome">Nome do Professor</label>
                                <input type="text" id="nome" placeholder="placeholder" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <input type="email" id="email" placeholder="email do professor" required>
                                <label for="email">E-Email do professor</label>
                            </div>
                        </div>
                        <div class="right-align" id="btn-professor">
                            <button id="excluir" class="btn red darken-3">Excluir</button>
                            <button id="alterar" class="btn yellow accent-3" style="color:black">Alterar</button>
                            <button type="submit" id="cadastrar" class="btn indigo darken-3">Cadastrar</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
    <!-- section professor -->

</div>

<script src="/static/js/pesquisador/index.js"></script>