{{> nav}}

<div class="container ">

    <section class="section lighten-3 center">
        <h4>Pesquisadores</h4>
    </section>

    <!-- section alerta -->
    <section>
        <blockquote class=" section yellow">
            <h5><b>Atenção:</b> Clique no pesquisador caso haja modificações</h5>
        </blockquote>
    </section><!-- section alerta -->

    <section class="right-align">
        <a id="new-pesquisador" class="btn indigo darken-3" data-toggle="container-pesquisador">Cadastrar
            novo pesquisador</a>
    </section>

    <!-- section pesquisador -->
    <section class="section">
        <div class="card z-depth-2">
            <div class="card-title center grey darken-3 white-text">Pesquisadores</div>
            <div class="card-content">
                <table class="striped" id="table-pesquisador">
                    <thead>
                        <tr>
                            <th>Pesquisador</th>
                            <th>E-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each pesquisadorList}}
                        <tr id="{{this.id}}">
                            <td>{{this.nome}}</td>
                            <td>{{this.email}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </section><!-- section pesquisador -->

    <!-- container adm -->
    <section class="section " id="container-pesquisador" hidden="">
        <div class="card">

            <div class="card-title center">Pesquisador</div>

            <div class="card-content row">
                <!-- form -->
                <form action="" id="form-pesquisador" data-inject="pesquisador" class="col s12">

                    <div id="input-inject">

                        <input type="hidden" name="id" value="">

                        <!-- input nome-->
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="nome">Nome do Pesquisador</label>
                                <input type="text" id="nome" placeholder="Nome do Pesquisador" name="nome" value=""
                                    required>
                            </div>
                        </div><!-- input nome -->

                        <!-- input email -->
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="email" id="email" name="email" value="" placeholder="email do Pesquisador"
                                    required>
                                <label for="email">E-Email do Pesquisador</label>
                            </div>
                        </div><!-- input email -->

                    </div>

                    <!-- form buttons -->
                    <div class="right-align" id="btn-pesquisador">
                        <!-- modal button -->
                        <button type="button" id="excluir" class="btn red darken-3 modal-trigger">Excluir</button>
                        <!-- modal button -->
                        <button type="submit" id="alterar" class="btn yellow accent-3"
                            style="color:black">Alterar</button>
                        <button type="submit" id="cadastrar" class="btn indigo darken-3">Cadastrar</button>
                    </div><!-- form buttons -->

                    <br>
                    <!-- form alert -->
                    <div class="card hide" id="form-alert">
                        <div class="card-title center red darken-3 white-text"> Atenção</div>
                        <div class="card-content center">
                            <div action="" id="form-alert">

                                <h5>Tem certeza que deseja remover?</h5>
                                <button type="button" id="form-alert-cancel" class="btn-flat">cancelar</button>
                                <button type="submit" class="red darken-3 white-text btn-flat">Excluir</button>
                            </div>
                        </div>
                    </div> <!-- form alert -->
                </form> <!-- form -->
            </div>
        </div>
    </section>
    <!-- container adm -->
</div>

<script src="/static/js/pesquisador/index.js"></script>