{{> nav}}

<div class="container">



    <section class="section lighten-3 center">
        <h4>Questões</h4>
    </section>

    <!-- section alerta -->
    <section>
        <blockquote class=" section yellow">
            <h5><b>Atenção:</b> Clique na questão para saber mais detalhes</h5>
        </blockquote>
    </section><!-- section alerta -->

    <section class="right-align">
        <!-- buttons -->
        <div class="section">
            <button class="right-align btn indigo darken-3 alternativa" id="new-questao">
                Adicionar Questão
            </button>
        </div>
        <!-- buttons -->
    </section>

    <!-- collapsible -->
    <ul class="collapsible" id="questoes">
        <!-- li questao -->
        <li>

            <!-- collapsible header -->
            <div class="collapsible-header center questao" id="titulo1">
                <h5>
                    <b>
                        titulo da questao

                    </b>
                </h5>
            </div> <!-- collapsible header -->

            <!-- collapsible body alternativas -->
            <div class="collapsible-body">

                <!-- buttons -->
                <div>
                    <button class="right-align btn red darken-3 questao" data-questao="true" data-id="1">
                        Administrar Questão
                    </button>
                    <br>
                    <br>

                    <button class="right-align btn indigo darken-3 alternativa" id="new-alternativa">Adicionar
                        Alternativa
                    </button>
                </div><!-- buttons -->

                <!-- alternativa -->
                <div class="section">



                    <h5 class="center"><b>Alternativas</b></h5>

                    <section class="section">
                        <blockquote class=" section yellow">
                            <h5><b>Atenção:</b> Clique na alternativa caso haja alterações </h5>
                        </blockquote>
                    </section><!-- section alerta -->

                    <ul id="alternativas" class="">
                        <li class="card section center-align alternativa" data-id="1" data-titulo="questao 1"
                            data-peso="1">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint laborum
                            cupiditate
                            praesentium officiis? Fugiat eligendi blanditiis temporibus voluptatem earum
                            laboriosam corporis a voluptatibus cum. Autem laborum vero nam omnis commodi

                            <button type="button" style="pointer-events: none;cursor: default;"
                                class="btn-flat indigo darken-3 white-text">Peso 1</button>
                        </li>
                        <li class="card section center-align alternativa" data-id="2" data-titulo="questao 12"
                            data-peso="2">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint laborum
                            cupiditate
                            praesentium officiis? Fugiat eligendi blanditiis temporibus voluptatem earum
                            laboriosam corporis a voluptatibus cum. Autem laborum vero nam omnis commodi.

                            <button type="button" style="pointer-events: none;cursor: default;"
                                class="btn-flat indigo darken-3 white-text">Peso 1</button>
                        </li>
                        <li class="card section center-align alternativa" data-id="3" data-titulo="questao 13"
                            data-peso="3">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint laborum
                            cupiditate
                            praesentium officiis? Fugiat eligendi blanditiis temporibus voluptatem earum
                            laboriosam corporis a voluptatibus cum. Autem laborum vero nam omnis commodi.

                            <button type="button" style="pointer-events: none;cursor: default;"
                                class="btn-flat indigo darken-3 white-text">Peso 1</button>
                        </li>
                    </ul>
                </div><!-- alternativa -->

            </div><!-- collapsible body alternativas -->

        </li><!-- li questao -->

    </ul><!-- collapsible -->

</div>

<div class="container">
    <!-- container questao -->
    <section class="section " id="container-questao" hidden="">
        <div class="card">

            <div class="card-title center">Questão</div>

            <div class="card-content row">
                <!-- form -->
                <form action="" id="form-questao" data-inject="questao" class="col s12">

                    <!-- form questao -->
                    <div id="input-inject">
                        <input type="hidden" name="id" value="">
                        <!-- input titulo-->
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="titulo">Título da questão</label>
                                <input type="text" id="titulo" placeholder="Título da questão" name="titulo" value=""
                                    required>
                            </div>
                        </div><!-- input titulo-->

                    </div> <!-- form questao -->

                    <!-- form alternativa -->
                    <div>

                        <div class="card-content row" id="form-questao-alternativa">
                            <button type="submit" id="cadastrar" class="btn indigo darken-3">Adicionar
                                Alternativa</button>

                            <div class="section">
                                <div id="input-inject">
                                    <!-- input titulo-->
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <label for="titulo">Título da alternativa</label>
                                            <input type="text" id="alternativa-titulo"
                                                placeholder="Título da alternativa" name="alternativa-titulo" value=""
                                                required>
                                        </div>
                                    </div><!-- input titulo-->

                                    <!-- input peso-->
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="number" max="100" min="1" id="alternativa-peso"
                                                name="alternativa-peso" value="" placeholder="Peso da alternativa"
                                                required>
                                            <label for="peso">Peso da alternativa</label>
                                        </div>
                                    </div><!-- input peso-->
                                </div>

                                <button type="button" id="excluir" class="btn red darken-3 modal-trigger">Remover
                                    Alternativa</button>
                                <button type="submit" id="cadastrar" class="btn indigo darken-3">Adicionar
                                    Alternativa</button>
                            </div>
                        </div>

                    </div> <!-- form alternativa -->

                    <!-- form buttons -->
                    <div class="right-align" id="btn-questao">
                        <!-- modal button -->
                        <button type="button" id="excluir" class="btn red darken-3 modal-trigger">Excluir</button>
                        <!-- modal button -->
                        <button type="submit" id="alterar" class="btn yellow accent-3"
                            style="color:black">Alterar</button>
                        <button type="submit" id="cadastrar" class="btn indigo darken-3">Cadastrar</button>
                    </div><!-- form buttons -->

                    <br>
                    <!-- form alert -->
                    <div class="card hide" id="form-alert">
                        <div class="card-title center red darken-3 white-text"> Atenção</div>
                        <div class="card-content center">
                            <div action="" id="form-alert">

                                <h5>Tem certeza que deseja remover?</h5>
                                <button type="button" id="form-alert-cancel" class="btn-flat">cancelar</button>
                                <button type="submit" class="red darken-3 white-text btn-flat">Excluir</button>
                            </div>
                        </div>
                    </div> <!-- form alert -->
                </form> <!-- form -->
            </div>
        </div>
    </section>
    <!-- container questao -->


    <!-- container alternativa -->
    <section class="section " id="container-alternativa" hidden="">


        <div class="card">
            <div class="card-title center">Alternativa</div>
            <div class="card-content row">
                <!-- form -->
                <form action="" id="form-alternativa" data-inject="alternativa" class="col s12">


                    <div id="input-inject">
                        <input type="hidden" name="id" value="">
                        <!-- input titulo-->
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="titulo">Título da alternativa</label>
                                <input type="text" id="titulo" placeholder="Título da alternativa" name="titulo"
                                    value="" required>
                            </div>
                        </div><!-- input titulo-->

                        <!-- input peso-->
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="number" max="100" min="1" id="peso" name="peso" value=""
                                    placeholder="Peso da alternativa" required>
                                <label for="peso">Peso da alternativa</label>
                            </div>
                        </div><!-- input peso-->
                    </div>


                    <!-- form buttons -->
                    <div class="right-align" id="btn-alternativa">
                        <!-- modal button -->
                        <button type="button" id="excluir" class="btn red darken-3 modal-trigger">Excluir</button>
                        <!-- modal button -->
                        <button type="submit" id="alterar" class="btn yellow accent-3"
                            style="color:black">Alterar</button>
                        <button type="submit" id="cadastrar" class="btn indigo darken-3">Cadastrar</button>
                    </div><!-- form buttons -->

                    <br>
                    <!-- form alert -->
                    <div class="card hide" id="form-alert">
                        <div class="card-title center red darken-3 white-text"> Atenção</div>
                        <div class="card-content center">
                            <div action="" id="form-alert">

                                <h5>Tem certeza que deseja remover?</h5>
                                <button type="button" id="form-alert-cancel" class="btn-flat">cancelar</button>
                                <button type="submit" class="red darken-3 white-text btn-flat">Excluir</button>
                            </div>
                        </div>
                    </div> <!-- form alert -->
                </form> <!-- form -->
            </div>
        </div>
    </section>
    <!-- container alternativa -->
</div>


<script src="/static/js/pesquisador/questionario.js"></script>