{{> nav}}

<div class="container ">

    <!-- section questionario -->
    <section class="section">
        <div class="card z-depth-2">
            <div class="card-title center grey darken-3 white-text">Questões</div>
            <div class="card-content">
                <ul class="collapsible">
                    <li class="z-depth-2">
                        <div class="collapsible-header  ">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit nihil quos dolorum
                            ut eum repudiandae amet corporis placeat. Quos saepe veritatis similique minima beatae
                            deleniti, reiciendis nemo adipisci harum nihil?
                        </div>
                        <div class="collapsible-body grey lighten-2">
                            <button class="right-align btn red darken-3">Administrar Questão</button>
                            <div class="section"></div>
                            <button class="right-align btn indigo darken-3" id="new-{{title}}">Adicionar
                                Alternativa</button>

                            <p class="center"><b>Alternativas</b></p>

                            <section class="section">
                                <blockquote class=" section yellow">
                                    <h5><b>Atenção:</b> Clique na alternativa caso haja alterações </h5>
                                </blockquote>
                            </section><!-- section alerta -->

                            <ul id="alternativas" class="">
                                <li class="card section center-align" id="id" data-titulo="" data-peso="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint laborum cupiditate
                                    praesentium officiis? Fugiat eligendi blanditiis temporibus voluptatem earum
                                    laboriosam corporis a voluptatibus cum. Autem laborum vero nam omnis commodi
                                    
                                    <button type="button" style="pointer-events: none;cursor: default;" class="btn-flat indigo darken-3 white-text">Peso 1</button>
                                </li>
                                <li class="card section center-align" id="id" data-titulo="" data-peso="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint laborum cupiditate
                                    praesentium officiis? Fugiat eligendi blanditiis temporibus voluptatem earum
                                    laboriosam corporis a voluptatibus cum. Autem laborum vero nam omnis commodi.
                                    
                                    <button type="button" style="pointer-events: none;cursor: default;" class="btn-flat indigo darken-3 white-text">Peso 1</button>
                                </li>
                                <li class="card section center-align" id="id" data-titulo="" data-peso="">
                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint laborum cupiditate
                                    praesentium officiis? Fugiat eligendi blanditiis temporibus voluptatem earum
                                    laboriosam corporis a voluptatibus cum. Autem laborum vero nam omnis commodi.
                                    
                                    <button type="button" style="pointer-events: none;cursor: default;" class="btn-flat indigo darken-3 white-text">Peso 1</button>
                                </li>
                            </ul>
  
                        </div>

                    </li>
                    <br>
                    <li class="z-depth-2">
                        <div class="collapsible-header">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit nihil quos dolorum
                            ut eum repudiandae amet corporis placeat. Quos saepe veritatis similique minima beatae
                            deleniti, reiciendis nemo adipisci harum nihil?
                        </div>
                        <div class="collapsible-body">body</div>

                    </li>
                </ul>


            </div>
        </div>
    </section><!-- section questionario -->

    {{> container}}

    {{> pesquisador/inputQuestionario}}
</div>

<script src="/static/js/pesquisador/questionario.js"></script>