{{> nav}}

<div class="container ">

    <section class="section lighten-3 center">
        <h4>Recomendações</h4>
    </section>

    <!-- section alerta -->
    <section>
        <blockquote class=" section yellow">
            <h5><b>Atenção:</b> Clique na recomendação caso haja modificações</h5>
        </blockquote>
    </section><!-- section alerta -->

    <section class="right-align">
        <a id="new-recomendacao" class="btn indigo darken-3" data-toggle="container-recomendacao">Cadastrar
            novo recomendação</a>
    </section>

    <!-- section recomendacao -->
    <section class="section">
        <div class="card z-depth-2">
            <div class="card-title center grey darken-3 white-text">Recomendações</div>
            <div class="card-content">
                <table class="striped" id="table-recomendacao">
                    <thead>
                        <tr>
                            <th>Recomendação</th>
                            <th>Menor Valor</th>
                            <th>Maior Valor</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr id="1">
                            <td>Perguntas da quarta página que começa com Para me esforçar além do normal, eu preciso
                                receber uma remuneração extra</td>
                            <td>1</td>
                            <td>3</td>
                        </tr>
                        <tr id="2">
                            <td>Ta indo bem hein </td>
                            <td>4</td>
                            <td>6</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section><!-- section recomendacao -->

    <!-- container adm -->
    <section class="section " id="container-recomendacao" hidden="">
        <div class="card">
            <div class="card-title center">Recomendação</div>

            <div class="card-content row">
                <!-- form -->
                <form action="" id="form-recomendacao" data-inject="recomendacao" class="col s12">

                    <div id="input-inject">

                        <input type="hidden" name="id" value="">

                        <!-- input titulo-->
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="titulo">Título da recomendacao</label>
                                <input type="text" id="titulo" placeholder="titulo do recomendacao" name="titulo"
                                    value="" required>
                            </div>
                        </div><!-- input titulo -->

                        <!-- input menor-valor-->
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="menor-valor">Título da recomendacao</label>
                                <input type="number" min="0" max="10" id="menor-valor"
                                    placeholder="menor valor da recomendação" name="menor-valor" value="" required>
                            </div>
                        </div><!-- input nome -->

                        <!-- input maior-valor-->
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="maior-valor">Título da recomendacao</label>
                                <input type="number" min="0" max="10" id="maior-valor"
                                    placeholder="maior-valor do recomendacao" name="maior-valor" value="" required>
                            </div>
                        </div><!-- input maior-valor -->

                    </div>

                    <!-- form buttons -->
                    <div class="right-align" id="btn-recomendacao">
                        <!-- modal button -->
                        <button type="button" id="excluir" class="btn red darken-3 modal-trigger">Excluir</button>
                        <!-- modal button -->
                        <button type="submit" id="alterar" class="btn yellow accent-3"
                            style="color:black">Alterar</button>
                        <button type="submit" id="cadastrar" class="btn indigo darken-3">Cadastrar</button>
                    </div><!-- form buttons -->

                    <br>
                    <!-- form alert -->
                    <div class="card hide" id="form-alert">
                        <div class="card-title center red darken-3 white-text"> Atenção</div>
                        <div class="card-content center">
                            <div action="" id="form-alert">

                                <h5>Tem certeza que deseja remover?</h5>
                                <button type="button" id="form-alert-cancel" class="btn-flat">cancelar</button>
                                <button type="submit" class="red darken-3 white-text btn-flat">Excluir</button>
                            </div>
                        </div>
                    </div> <!-- form alert -->
                </form> <!-- form -->
            </div>
        </div>
    </section>
    <!-- container adm -->
</div>

<script src="/static/js/pesquisador/recomendacao.js"></script>