<div id="input-inject">

    <input type="hidden" name="id" value="">

    <!-- input nome-->
    <div class="row">
        <div class="input-field col s12">
            <label for="nome">Nome do Pesquisador</label>
            <input type="text" id="nome" placeholder="Nome do Pesquisador" name="nome" value="" required>
        </div>
    </div><!-- input nome -->

    <!-- input email -->
    <div class="row">
        <div class="input-field col s12">
            <input type="email" id="email" name="email" value="" placeholder="email do Pesquisador" required>
            <label for="email">E-Email do Pesquisador</label>
        </div>
    </div><!-- input email -->

</div>