<div id="input-inject">
    <input type="hidden" name="id" value="">
    <!-- input titulo-->
    <div class="row">
        <div class="input-field col s12">
            <label for="titulo">Título da alternativa</label>
            <input type="text" id="titulo" placeholder="Título da alternativa" name="titulo" value="" required>
        </div>
    </div><!-- input titulo-->

    <!-- input peso-->
    <div class="row">
        <div class="input-field col s12">
            <input type="number" max="100" min="1" id="peso" name="peso" value="" placeholder="Peso da alternativa"
                required>
            <label for="peso">Peso da alternativa</label>
        </div>
    </div><!-- input peso-->
</div>